table {
    background-color: #F5FFFF;
    font-size: 0.9em !important;
}

table thead {
    border: none !important;
    background: none !important;
}

table td, table th {
    border: 1px solid #CCCCCC !important;
}