table {
  background: none !important;
  font-size: 0.9em !important;
}

table thead {
  border: none !important;
  background: none !important;
}

table td, table th {
  border: 1px solid #CECFD1 !important;
}

blockquote {
  background-color: #fafafa;
  padding-top: 1rem;
  padding-bottom: 1rem;
}