table {
  background: none !important;
  font-size: 0.9em !important;
}

table thead {
  border: none !important;
  background: none !important;
}

table td,
table th {
  border: 1px solid #cecfd1 !important;
}

blockquote {
  font-style: normal;
  background-color: #fafafa;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#divChartNeed {
  max-width: 200px;
  padding-bottom: 20px;
}

#divChartEventType {
  max-width: 500px;
  height: 250px;
  padding-bottom: 20px;
}

#divChartTopics {
  max-width: 500px;
  height: 350px;
  padding-bottom: 20px;
}

#divChartParticipation {
  max-width: 200px;
  padding-bottom: 20px;
}

#divChartSector {
  max-width: 200px;
  padding-bottom: 20px;
}

#libraryfinder-widget * {
  all: unset;
}
